{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/no-named-as-default": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "max-len": [2, 150, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "react/forbid-prop-types": 1,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 1
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  }
}